<h1>About Me: Liz Kadernauth</h1>
<ul>
	<li>I like to sing ballads wwhile doing dishes</li>
	<li>I am a native new yorker</li>
	<li>I once sang on stage at Carnegie Hall</li>
</ul>
<p>Find me in app/views/about/index.html.erb</p>
